
body {
    background-color:lightgray;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
  }
  

  #main-header {
    text-align: center;
    color:#5499df;
    font-size: 36px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
 
  .profile-img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid #2c3e50;
    padding: 5px;
  }
  
  .bio {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 .my-hobbies{
    color:blue;
    font-family: 'Times New Roman', Times, serif;

 } 

  ul {
    list-style-type: square;
    padding-left: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .favourite{
    font-family:'Times New Roman', Times, serif;
    font-style:initial;
  }

  /* Link Styling */
  a {
    color: #0077cc;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  a:hover {
    color: #ff4500;
    text-decoration: underline;
   
  }
 
/* Table Styling */
.info-table{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
  table {
    width: 50%;
    margin: 20px auto;
    border-collapse:calc();
    text-align: center;
    

  }
  
  th, td {
    border: 1px solid #999;
    padding: 10px;
  }

  
  /* Form Styling */
  .contact-heading{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    
  }

  form {
    width: 60%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  input[type="submit"]:hover {
    background-color: #0077cc;
  }